.custom-shape-divider-top-1707788955 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1707788955 svg {
    position: relative;
    display: block;
    width: calc(173% + 1.3px);
    height: 107px;
}

.custom-shape-divider-top-1707788955 .shape-fill {
    fill: #283845;
}